* {
  margin: 0;
}
body {
  background-color: #F8F8F8;
}
body #messageCenter {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}
body #messageCenter #centerTitle {
  height: 88px;
  line-height: 88px;
  padding-left: 60px;
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
  background-color: #fff;
}
body #messageCenter #centerContent {
  width: 1200px;
  height: 800px;
  margin-top: 20px;
  background-color: #fff;
  position: relative;
}
body #messageCenter #centerContent .layui-form .layui-form-checked[lay-skin=primary] i {
  border-color: #FF914D !important;
  background-color: #FF914D !important;
  color: #fff;
}
body #messageCenter #centerContent .layui-form span {
  font-size: 18px !important;
  font-family: Source Han Sans CN;
  font-weight: 400 !important;
  color: #666666 !important;
}
body #messageCenter #centerContent .layui-tab-title {
  height: 91px !important;
}
body #messageCenter #centerContent .layui-tab-title li {
  width: 180px;
  height: 91px;
  line-height: 91px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  padding: 0 !important;
}
body #messageCenter #centerContent .layui-tab-title .layui-this::after {
  position: absolute;
  left: 72px !important;
  top: 86px !important;
  content: '';
  width: 34px;
  height: 4px;
  background: #FF914D;
  border-radius: 2px;
  border: none !important;
}
body #messageCenter #centerContent .layui-tab-content {
  width: 1200px;
  height: 708px;
  padding: 0 !important;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item {
  width: 1200px;
  height: 708px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent {
  width: 1200px;
  height: 650px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent .item {
  display: flex;
  height: 88px;
  align-items: center;
  padding: 0 60px;
  border-bottom: 1px solid #eee;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent .item .messageIcon {
  width: 8px;
  height: 8px;
  background: #EB2A11;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent .item .marginLeft {
  margin-left: 18px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent .item .messageTitle {
  width: 834px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent .item .messageTitle:hover {
  color: #FF914D;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allContent .item .messageTime {
  width: 200px;
  text-align: right;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: #999999;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .allFoot {
  width: 1200px;
  height: 58px;
  text-align: center;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent {
  width: 1200px;
  height: 650px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent .item {
  display: flex;
  height: 88px;
  align-items: center;
  padding: 0 60px;
  border-bottom: 1px solid #eee;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent .item .messageIcon {
  width: 8px;
  height: 8px;
  background: #EB2A11;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent .item .marginLeft {
  margin-left: 18px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent .item .messageTitle {
  width: 834px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent .item .messageTitle:hover {
  color: #FF914D;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readContent .item .messageTime {
  width: 200px;
  text-align: right;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: #999999;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .readFoot {
  width: 1200px;
  height: 58px;
  text-align: center;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent {
  width: 1200px;
  height: 650px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent .item {
  display: flex;
  height: 88px;
  align-items: center;
  padding: 0 60px;
  border-bottom: 1px solid #eee;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent .item .messageIcon {
  width: 8px;
  height: 8px;
  background: #EB2A11;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent .item .marginLeft {
  margin-left: 18px;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent .item .messageTitle {
  width: 834px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent .item .messageTitle:hover {
  color: #FF914D;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadContent .item .messageTime {
  width: 200px;
  text-align: right;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: #999999;
}
body #messageCenter #centerContent .layui-tab-content .layui-tab-item .unreadFoot {
  width: 1200px;
  height: 58px;
  text-align: center;
}
body #messageCenter #centerContent #checkBox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 60px;
}
body #messageCenter #centerContent #checkBox #delete {
  font-style: normal;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  cursor: pointer;
  margin-left: 10px;
}
body #messageCenter #centerContent #checkBox #delete:hover {
  color: #FF914D;
}
