* {
  margin: 0;
}
.container {
  width: 100%;
  min-width: 1200px;
  background-color: #f9f9f9;
}
.container .topBox {
  width: 100%;
  height: 130px;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(102, 102, 102, 0.1);
  position: fixed;
  top: 0;
  z-index: 1;
}
.container .topBox .topContent {
  width: 1200px;
  height: 64px;
  padding: 33px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container .topBox .topContent .logo {
  width: 186px;
  height: 64px;
}
.container .topBox .topContent .navBox {
  width: 500px;
  height: 64px;
  line-height: 64px;
}
.container .topBox .topContent .navBox a {
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-decoration: none;
  margin-right: 50px;
}
.container .topBox .topContent .loginBox {
  width: 276px;
  height: 64px;
  line-height: 64px;
}
.container .topBox .topContent .loginBox .login {
  display: inline-block;
  text-decoration: none;
  width: 128px;
  height: 38px;
  border-radius: 19px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  line-height: 38px;
  text-align: center;
}
.container .topBox .topContent .loginBox .signIn {
  display: inline-block;
  text-decoration: none;
  width: 128px;
  height: 38px;
  background: #F2591A;
  border-radius: 19px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFF;
  line-height: 36px;
  text-align: center;
  margin-left: 20px;
}
.container #content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 140px;
}
.container #content .helpCenter {
  display: flex;
  width: 1160px;
  height: 40px;
  padding: 24px 20px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}
.container #content .helpCenter .helpTitle {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
}
.container #content .helpCenter .searchBox {
  width: 446px;
  height: 40px;
}
.container #content .helpCenter .searchBox .searchInput {
  width: 338px;
  height: 38px;
  outline: none;
  border: 1px solid #F2591A;
  padding: 0 20px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #CCCCCC;
  vertical-align: middle;
}
.container #content .helpCenter .searchBox .searchBtn {
  display: inline-block;
  width: 66px;
  height: 40px;
  background: #F2591A;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.container #content .helpCont {
  width: 1200px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.container #content .helpCont .navbar {
  width: 240px;
  height: 820px;
  background-color: #fff;
  list-style: none;
  padding: 0;
}
.container #content .helpCont .navbar .navItem .navTitle {
  width: 236px;
  height: 59px;
  border-left: 4px solid #FFF;
  border-bottom: 1px solid #F9F9F9;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
}
.container #content .helpCont .navbar .navItem .navTitle:hover {
  background-color: #F9F9F9;
  border-left: 4px solid #F2591A;
  color: #F2591A;
}
.container #content .helpCont .navbar .navItem .navTitle .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  line-height: 59px;
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
}
.container #content .helpCont .navbar .navItem .navTActive {
  border-left: 4px solid #F2591A;
  color: #F2591A;
  background-color: #F9F9F9;
}
.container #content .helpCont .navbar .navItem .menuTitle {
  width: 240px;
  height: 59px;
  border-bottom: 1px solid #F9F9F9;
}
.container #content .helpCont .navbar .navItem .menuTitle .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  line-height: 59px;
  padding: 0 20px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}
.container #content .helpCont .navbar .navItem .menuTitle .link img {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}
.container #content .helpCont .navbar .navItem .menuTitle .link .unfold {
  transform: rotate(90deg);
}
.container #content .helpCont .navbar .navItem .submenu {
  display: none;
  list-style: none;
  padding: 0;
}
.container #content .helpCont .navbar .navItem .submenu .menuItem {
  height: 59px;
  line-height: 59px;
  border-left: 4px solid #FFF;
  border-bottom: 1px solid #F9F9F9;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #444444;
  cursor: pointer;
}
.container #content .helpCont .navbar .navItem .submenu .menuItem:hover {
  background-color: #F9F9F9;
  border-left: 4px solid #F2591A;
  color: #F2591A;
}
.container #content .helpCont .navbar .navItem .submenu .menuItem a {
  text-decoration: none;
  padding: 0 40px;
}
.container #content .helpCont .navbar .navItem .submenu .menuActive {
  background-color: #F9F9F9;
  border-left: 4px solid #F2591A;
  color: #F2591A;
}
.container #content .helpCont .navCont {
  width: 930px;
  background-color: #fff;
}
.container #content .helpCont .navCont .currentPosition {
  height: 90px;
  line-height: 90px;
  padding: 0 40px;
  font-size: 22px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #444444;
  border-bottom: 2px solid #F9F9F9;
}
.container #content .helpCont .navCont .currentPosition .currentParent {
  cursor: pointer;
  color: #F2591A;
}
.container #content .helpCont .navCont .currentPosition .text {
  color: #444444;
}
.container #content .helpCont .navCont .issue {
  width: 850px;
  min-height: 668px;
  padding: 30px 40px;
}
.container #content .helpCont .navCont .issue .issueContent {
  width: 850px;
  min-height: 668px;
}
.container #content .helpCont .navCont .issue .issueContent .issueTBox .issueTitle {
  height: 30px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.container #content .helpCont .navCont .issue .issueContent .issueTBox .issueTitle:hover {
  color: #F2591A;
}
.container #content .helpCont .navCont .issue .issueContent .issueTCont {
  display: none;
}
.container #content .helpCont .navCont .issue .issueContent .issueTCont .textTitle {
  height: 30px;
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
  line-height: 30px;
  margin-bottom: 20px;
}
.container #content .helpCont .navCont .issue .issueContent .issueTCont .subtitle {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #444444;
  line-height: 30px;
  margin-bottom: 30px;
}
.container #content .helpCont .navCont .issue .issueContent .issueTCont .straightMatter {
  font-size: 20px;
  font-weight: 400;
  font-family: Source Han Sans CN;
  color: #666;
  line-height: 30px;
  margin-bottom: 20px;
}
.container #content .helpCont .navCont .issue .issueContent .issueTCont .videos {
  width: 783px;
  height: 440px;
  outline: none;
}
.container #content .helpCont .navCont .issue .issue2 {
  display: none;
}
.container #content .helpCont .navCont .issue .issue4 {
  display: none;
}
.container #content .helpCont .navCont .issue .issue7 {
  display: none;
}
.container #content .helpCont .navCont .issue .issue8 {
  display: none;
}
.container #gotop_btn {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: 620px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 5px #ddd;
  cursor: pointer;
}
.container #gotop_btn img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.container #gotop_btn:hover {
  background-color: #ddd;
}
