* {
  margin: 0;
}
.container {
  width: 100%;
  min-width: 1200px;
  background: url('../image/logo-bg.jpeg') no-repeat;
  background-size: 100% 1080px;
}
.container .topBox {
  width: 100%;
  height: 130px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0px 3px 7px 0px rgba(102, 102, 102, 0.1);
}
.container .topBox .topContent {
  width: 1200px;
  height: 64px;
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.container .topBox .topContent .logo {
  width: 186px;
  height: 64px;
}
.container .topBox .topContent .navBox {
  width: 500px;
  height: 64px;
  line-height: 64px;
}
.container .topBox .topContent .navBox a {
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-decoration: none;
  margin-right: 50px;
}
.container .topBox .topContent .loginBox {
  width: 276px;
  height: 64px;
  line-height: 64px;
}
.container .topBox .topContent .loginBox .login {
  display: inline-block;
  text-decoration: none;
  width: 128px;
  height: 38px;
  border-radius: 19px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  line-height: 38px;
  text-align: center;
}
.container .topBox .topContent .loginBox .signIn {
  display: inline-block;
  text-decoration: none;
  width: 128px;
  height: 38px;
  background: #F2591A;
  border-radius: 19px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFF;
  line-height: 36px;
  text-align: center;
  margin-left: 20px;
}
.container .logoBox {
  width: 1200px;
  margin: 0 auto;
  height: 810px;
  padding-top: 270px;
  position: relative;
}
.container .logoBox .logoTitle {
  height: 67px;
  font-size: 72px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  line-height: 30px;
  margin: 0 0 39px;
  text-decoration: none;
}
.container .logoBox .logoInfo {
  height: 96px;
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FF914D;
  line-height: 48px;
  letter-spacing: 5px;
}
.container .logoBox .logoBtn {
  width: 348px;
  height: 72px;
  margin-top: 240px;
}
.container .logoBox .logoBtn a {
  display: block;
  width: 348px;
  height: 72px;
  background: linear-gradient(180deg, #FFBE58, #FF914D, #F2591A);
  border-radius: 36px;
  line-height: 72px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}
.container .logoBox .mobile {
  width: 700px;
  border-radius: 20px;
  position: absolute;
  right: 0px;
  bottom: 158px;
  outline: none;
}
.container .establishBox {
  width: 1200px;
  height: 200px;
  margin: 120px auto 192px;
  display: flex;
  justify-content: space-between;
}
.container .establishBox .establishLeft {
  width: 545px;
  height: 200px;
  font-size: 48px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 48px;
}
.container .establishBox .establishRight {
  height: 200px;
}
.container .establishBox .establishRight .establishInfo {
  width: 570px;
  height: 98px;
  font-size: 22px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  margin-bottom: 60px;
  text-align: justify;
}
.container .establishBox .establishRight .establishLink {
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-decoration: none;
}
.container .majorBox {
  width: 1200px;
  height: 508px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container .majorBox .majorLeft {
  height: 508px;
}
.container .majorBox .majorLeft .majorLeftTitle {
  height: 105px;
  font-size: 48px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
}
.container .majorBox .majorLeft .majorLeftInfo {
  width: 350px;
  height: 50px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  margin: 40px 0 100px;
}
.container .majorBox .majorLeft .majorLeftLink {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-decoration: none;
}
.container .majorBox .majorRight {
  width: 685px;
  height: 508px;
}
.container .exclusiveBox {
  width: 1200px;
  height: 504px;
  margin: 156px auto 159px;
  display: flex;
  justify-content: space-between;
}
.container .exclusiveBox .exclusiveLeft {
  width: 682px;
  height: 504px;
}
.container .exclusiveBox .exclusiveRight {
  width: 420px;
  height: 504px;
}
.container .exclusiveBox .exclusiveRight .exclusiveRightTitle {
  height: 105px;
  font-size: 48px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
  margin-top: 25px;
}
.container .exclusiveBox .exclusiveRight .exclusiveRightInfo {
  width: 420px;
  height: 50px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  margin: 40px 0 100px;
  text-align: justify;
}
.container .exclusiveBox .exclusiveRight .exclusiveRightLink {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-decoration: none;
}
.container .domainBox {
  width: 1200px;
  height: 633px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container .domainBox .domainLeft {
  height: 633px;
}
.container .domainBox .domainLeft .domainLeftTitle {
  height: 105px;
  font-size: 48px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
}
.container .domainBox .domainLeft .domainLeftInfo {
  width: 323px;
  height: 50px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  margin: 40px 0 100px;
  text-align: justify;
}
.container .domainBox .domainLeft .domainLeftLink {
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-decoration: none;
}
.container .domainBox .domainRight {
  width: 712px;
  height: 633px;
}
.container .shopBox {
  width: 1200px;
  height: 588px;
  margin: 220px auto 200px;
}
.container .shopBox .shopTitle {
  height: 50px;
  font-size: 48px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
  line-height: 50px;
  text-align: center;
}
.container .shopBox .shopTop {
  width: 1200px;
  height: 174px;
  display: flex;
  justify-content: space-evenly;
  margin: 95px 0;
}
.container .shopBox .shopTop .shopItem {
  width: 140px;
  height: 174px;
}
.container .shopBox .shopTop .shopItem img {
  width: 120px;
  height: 120px;
  margin: 0 10px 20px;
}
.container .shopBox .shopTop .shopItem p {
  width: 140px;
  height: 34px;
  font-size: 34px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
  text-align: center;
}
.container .shopBox .shopBottom {
  width: 1200px;
  height: 174px;
  display: flex;
  justify-content: space-between;
}
.container .shopBox .shopBottom .shopItem {
  width: 140px;
  height: 174px;
}
.container .shopBox .shopBottom .shopItem img {
  width: 120px;
  height: 120px;
  margin: 0 10px 20px;
}
.container .shopBox .shopBottom .shopItem p {
  width: 140px;
  height: 34px;
  font-size: 34px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
  text-align: center;
}
.container .caseBox {
  width: 100%;
  min-width: 1200px;
  height: 525px;
}
.container .caseBox .caseTitle {
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  font-size: 48px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
  line-height: 30px;
  text-align: center;
  margin-bottom: 100px;
}
.container .caseBox #certify {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.container .caseBox #certify .swiper-container {
  padding-bottom: 60px;
}
.container .caseBox #certify .swiper-container .swiper-slide {
  width: 520px;
  height: 408px;
  background: #fff;
  box-shadow: 0 8px 30px #ddd;
}
.container .caseBox #certify .swiper-container .swiper-slide img {
  width: 520px;
  height: 310px;
  display: block;
}
.container .caseBox #certify .swiper-container .swiper-slide p {
  line-height: 98px;
  padding-top: 0;
  text-align: center;
  color: #636363;
  font-size: 1.1em;
  margin: 0;
}
.container .caseBox #certify .swiper-pagination {
  width: 100%;
  bottom: 20px;
}
.container .caseBox #certify .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border: 3px solid #fff;
  background-color: #d5d5d5;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.container .caseBox #certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border: 3px solid #F46932;
  background-color: #fff;
}
.container .caseBox #certify .swiper-button-prev {
  left: 0px;
  width: 45px;
  height: 45px;
  background: url(../image/wm_button_icon.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
.container .caseBox #certify .swiper-button-prev:hover {
  background-position: 0 -46px;
  background-size: 100%;
}
.container .caseBox #certify .swiper-button-next {
  right: 0px;
  width: 45px;
  height: 45px;
  background: url(../image/wm_button_icon.png) no-repeat;
  background-position: 0 -93px;
  background-size: 100%;
}
.container .caseBox #certify .swiper-button-next:hover {
  background-position: 0 -139px;
  background-size: 100%;
}
.container .causeBox {
  width: 1200px;
  height: 810px;
  margin: 200px auto 0;
}
.container .causeBox .causeTitle {
  height: 34px;
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
  line-height: 30px;
}
.container .causeBox .causeInfo {
  width: 700px;
  height: 234px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  margin: 47px 0 20px;
  text-align: justify;
}
.container .causeBox .causeContent {
  width: 1200px;
  height: 475px;
  display: flex;
  justify-content: space-between;
}
.container .causeBox .causeContent a {
  display: block;
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F46932;
  text-decoration: none;
  margin-top: 80px;
}
.container .causeBox .causeContent img {
  width: 645px;
  height: 475px;
}
.container .cooperationBox {
  width: 1200px;
  height: 226px;
  margin: 0 auto;
}
.container .cooperationBox .cooperationContent {
  width: 1200px;
  height: 146px;
  display: flex;
  justify-content: space-between;
}
.container .cooperationBox .cooperationContent img {
  width: 278px;
  height: 146px;
}
.container .cooperationBox .cooperationTitle {
  width: 1200px;
  height: 34px;
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F46932;
  text-align: center;
  margin-top: 46px;
  line-height: 30px;
}
.container .stepBox {
  width: 100%;
  min-width: 1200px;
  height: 698px;
  background: #122a3e;
}
.container .stepBox .stepContent {
  width: 1200px;
  height: 518px;
  margin: 0 auto;
  position: relative;
  padding-top: 180px;
}
.container .stepBox .stepContent .stepTitle {
  width: 600px;
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #FFF;
  line-height: 30px;
  margin-bottom: 70px;
}
.container .stepBox .stepContent .stepItem {
  width: 600px;
  height: 30px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFF;
  line-height: 30px;
  margin-bottom: 30px;
}
.container .stepBox .stepContent .infoData {
  width: 520px;
  height: 518px;
  position: absolute;
  right: 0;
  top: 180px;
}
.container .stepBox .stepContent .infoData .infoTitle {
  margin-bottom: 70px;
  height: 34px;
  font-size: 36px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #FFF;
}
.container .stepBox .stepContent .infoData .infoItem {
  height: 30px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFF;
  line-height: 30px;
  margin-bottom: 30px;
}
.container .infoBox {
  width: 100%;
  min-width: 1200px;
  height: 30px;
  padding: 10px 0;
}
.container .infoBox .beian {
  width: 1200px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .infoBox .beian a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px;
}
.container .infoBox .beian a:hover {
  color: #666;
}
.container .infoBox .beian img {
  width: 18px;
  height: 18px;
}
