#container {
    width: 100%;
    min-width: 1280px;
    height: 100vh;
    background: #F9F9F9;
    position: relative;
}
.recordsBox {
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.recordsBox a {
    color: #999;
    margin: 0 5px;
}
.recordsBox a:hover {
    color: #333;
}

.head {
    height: 264px;
    padding-top: 36px;
    background: #313536;
    opacity: 0.9;
}

.logo {
    display: block;
    width: 540px;
    height: 184px;
    margin: 0 auto;
}

.inputdiv {
    display: flex;
    border: 1px solid #D2D2D2 !important;
    background-color: #fff;
    height: 40px;
    line-height: 38px;
    padding: 0px 19px;
}

.layui-input {
    border: none;
}


.login-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    width: 505px;
    opacity: 0.9;
    margin: -30px auto;
}

.login-div h1 {
    margin-bottom: 30px;
}

.login-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-div .login-form-item {
    margin-bottom: 20px;
}

.login-div .login-form-item input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-div form .btn-login {
    height: 40px;
    width: 320px;
    border: none;
    color: white;
    border-radius: 3px;
}

.log {
    width: 50%;
}

.post {
    width: 50%;
}

#verification {

    border: none;
}

#getCode {
    height: 41px;
    margin-right: -20px;
    padding: 0 6px;
    background-color: rgb(212, 94, 60);
}

.hide {
    height: 40px;
    margin-right: -20px;
    padding: 0 6px;
    border: none;
    border-radius: 0;
}

#login-btn {
    width: 100%;
    cursor: pointer;
    background-color: rgb(212, 94, 60);
}

#register-btn {
    width: 100%;
    cursor: pointer;
    background-color: rgb(212, 94, 60);
}

.forget {
    color: #9A9A9A;
}