.parentMain .containerBox {
  width: 1559px;
  background-color: #fff;
  height: 900px;
}
.parentMain .containerBox .head {
  height: 60px;
  background-color: #FF914D;
  box-sizing: border-box;
  line-height: 60px;
  padding: 0 13px;
}
.parentMain .containerBox .head .title {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
}
.parentMain .containerBox .head .titleRight {
  float: right;
  width: 128px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  background: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.parentMain .containerBox .head .titleRight img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.parentMain .containerBox .head .preview {
  color: #666666;
  position: relative;
}
.parentMain .containerBox .head .copyUrl {
  color: #F2591A;
  margin-left: 10px;
}
.parentMain .containerBox .mainCont {
  display: flex;
  height: 754px;
  justify-content: center;
  padding: 39px 0 47px;
  position: relative;
  /* 右侧门户信息 开始-------------------------------------------------------------------------------------------------*/
  /* 右侧精彩推荐 开始-----------------------------------------------------------------------------------------------------*/
  /* 手机预览 */
}
.parentMain .containerBox .mainCont .mainLeft {
  width: 381px;
  height: 754px;
  background: url('../image/mobile-bgc.png') no-repeat;
  background-size: 381px 754px;
  /* 左侧顶部信息 */
  /*左侧 分割线 */
  /* 精彩推荐 */
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top {
  width: 375px;
  height: 256px;
  background: url(../image/mobile-cover.png) no-repeat;
  background-size: 375px 256px;
  margin: 20px auto 0;
  position: relative;
  /* 左侧顶部遮罩层 */
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top:hover .mainLeft-top-layer {
  display: block;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .mainLeft-top-layer {
  display: none;
  width: 375px;
  height: 146px;
  text-align: center;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 0px rgba(255, 145, 77, 0.1);
  padding-top: 110px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .appOperation {
  height: 40px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 0 10px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .appOperation .appOperation-back {
  font-size: 18px;
  float: left;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .appOperation .appOperation-more {
  font-size: 24px;
  float: right;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info {
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 88px;
  background: url('../image/mobile-name-bgc.png') no-repeat;
  background-size: 375px 88px;
  padding-left: 15px;
  display: flex;
  margin: 0 auto;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info .portal-info-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-top: -10px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info .portal-info-s {
  width: 280px;
  height: 80px;
  padding-left: 15px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info .portal-info-s .portal-info-name {
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  margin-top: 20px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info .portal-info-s .portal-info-visit {
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info .portal-info-s .portal-info-visit img {
  width: 22px;
  height: 12px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-top .portal-info .portal-info-s .portal-info-visit .portal-info-synopsis {
  display: inline-block;
  width: 56px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(9, 1, 3, 0.1);
  border-radius: 13px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-line {
  width: 375px;
  height: 10px;
  background: #F0F0F0;
  margin: 0 auto;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful {
  width: 375px;
  height: 465px;
  margin: 0 auto;
  position: relative;
  /* 精彩推荐遮罩层 */
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful:hover .mainLeft-wonderful-layer {
  display: block;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .mainLeft-wonderful-layer {
  display: none;
  width: 375px;
  height: 241px;
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 224px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 0px rgba(255, 145, 77, 0.1);
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel {
  width: 375px;
  height: 150px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-recommend {
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-recommend .moreCont {
  float: right;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  cursor: pointer;
  display: none;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-channel-cont {
  width: 375px;
  height: 120px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-channel-cont .wonderful-channel-list {
  width: 144px;
  height: 95px;
  margin-top: 13px;
  margin-left: 10px;
  position: relative;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-channel-cont .wonderful-channel-list img {
  width: 144px;
  height: 95px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-channel-cont .wonderful-channel-list .wonderful-channel-list-name {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-channel .wonderful-channel-cont .add-wonderful {
  /* 立即添加精彩视频Or频道 */
  position: absolute;
  width: 375px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-line {
  width: 375px;
  height: 10px;
  background: #F0F0F0;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video {
  width: 375px;
  height: 305px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list {
  width: 375px;
  height: 274px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list .wonderful-video-describe {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list .wonderful-video-cover {
  width: 355px;
  height: 200px;
  margin: 0 10px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list .wonderful-video-info {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list .wonderful-video-info .wonderful-video-view {
  float: right;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list .wonderful-video-info .wonderful-video-view img {
  width: 22px;
  height: 12px;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .wonderful-video-list .wonderful-video-bg {
  height: 10px;
  background-color: #F0F0F0;
}
.parentMain .containerBox .mainCont .mainLeft .mainLeft-wonderful .wonderful-video .add-wonderful {
  /* 立即添加精彩视频Or频道 */
  position: absolute;
  width: 375px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.parentMain .containerBox .mainCont .main-right-portal {
  width: 610px;
  height: 748px;
  margin-left: 31px;
  position: relative;
  /* 门户信息 */
  /* 门户信息保存 */
}
.parentMain .containerBox .mainCont .main-right-portal .portal {
  width: 608px;
  height: 686px;
  border: 1px solid rgba(255, 145, 77, 0.3);
  border-radius: 10px 0px 0px 0px;
  position: relative;
  /* 门户左侧边框小尖角 */
  /* 门户顶部 */
  /* 封面设置 */
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portal-angle {
  width: 10px;
  height: 10px;
  border-left: 1px solid rgba(255, 145, 77, 0.3);
  border-bottom: 1px solid rgba(255, 145, 77, 0.3);
  position: absolute;
  top: 134px;
  left: -6px;
  transform: rotate(45deg);
  background-color: #fff;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop {
  display: flex;
  height: 248px;
  padding: 20px 20px 0;
  /* 门户用户头像 */
  /* 门户名称 */
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-left {
  width: 100px;
  height: 100px;
  position: relative;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-left:hover #userLayer {
  display: block;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-left #userLayer {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  display: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #FFFFFF;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right {
  width: 468px;
  height: 162px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-title {
  height: 32px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  line-height: 32px;
  padding-left: 40px;
  margin-bottom: 20px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-title .portalTop-right-title-input {
  width: 280px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding-left: 5px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-title .portalTop-right-title-input:focus {
  border: 1px solid rgba(255, 145, 77, 0.3);
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-title .portalTop-right-title-length {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #CCCCCC;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-intro {
  height: 120px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  padding-left: 40px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-intro .portalTop-right-textarea {
  width: 280px;
  height: 118px;
  border: 1px solid #CCCCCC;
  padding-left: 5px;
  border-radius: 5px;
  resize: none;
  vertical-align: top;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-intro .portalTop-right-textarea:focus {
  border: 1px solid rgba(255, 145, 77, 0.3);
}
.parentMain .containerBox .mainCont .main-right-portal .portal .portalTop .portalTop-right .portalTop-right-intro .portalTop-right-textarea-length {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #CCCCCC;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .segmentation-line {
  margin: 0;
  background-color: #FF914D;
  opacity: 0.2;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-name {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  margin: 10px 0 20px;
  padding-left: 20px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box {
  width: 559px;
  height: 268px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0 auto;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image {
  height: 190px;
  padding: 10px;
  display: flex;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image .cover-image-name {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  width: 80px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image .cover-image-img {
  width: 300px;
  height: 190px;
  position: relative;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image .cover-image-img:hover .cover-image-img-layer {
  display: block;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image .cover-image-img .cover-image-img-layer {
  width: 300px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #FFFFFF;
  display: none;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image .cover-image-img .bgc {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  background: url(../image/mobile-cover.png) no-repeat;
  background-size: 300px 150px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-image .cover-image-img .cover-image-describe {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-url {
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-url .cover-url-span {
  display: inline-block;
  width: 80px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-url .cover-url-input {
  width: 440px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding-left: 5px;
}
.parentMain .containerBox .mainCont .main-right-portal .portal .cover-box .cover-url .cover-url-input:focus {
  border: 1px solid rgba(255, 145, 77, 0.3);
}
.parentMain .containerBox .mainCont .main-right-portal .portalSave {
  width: 106px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  background-color: #FF914D;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .main-right-recommend {
  width: 610px;
  height: 748px;
  margin-left: 31px;
  position: relative;
  display: none;
  /* 精彩推荐设置 保存 */
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set {
  width: 608px;
  height: 686px;
  border: 1px solid rgba(255, 145, 77, 0.3);
  border-radius: 10px 0px 0px 0px;
  position: relative;
  /* 添加精彩频道 */
  /* 添加精彩视频 */
  /* 精彩推荐左侧边框小尖角 */
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set {
  width: 588px;
  height: 248px;
  padding: 20px 0 0 20px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-set-name {
  height: 26px;
  line-height: 26px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-set-name .add-channel-btn {
  float: right;
  width: 89px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #F2591A;
  border-radius: 3px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-align: center;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add {
  height: 202px;
  overflow-y: auto;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add .channel-none {
  padding-left: 5px;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add .add-channel-list {
  display: flex;
  width: 568px;
  height: 56px;
  margin-bottom: 20px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add .add-channel-list .add-channel-list-info {
  width: 500px;
  height: 40px;
  padding: 7px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add .add-channel-list .add-channel-list-info img {
  width: 69px;
  height: 40px;
  vertical-align: bottom;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add .add-channel-list .add-channel-list-info .channel-name {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .channel-set .channel-cont-add .add-channel-list .recommend-delete {
  font-size: 24px;
  margin: 16px 15px;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .segmentation-line {
  margin: 0;
  background-color: #FF914D;
  opacity: 0.2;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set {
  width: 588px;
  height: 397px;
  padding: 20px 0 0 20px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-set-name {
  height: 26px;
  line-height: 26px;
  padding-right: 20px;
  text-align: right;
  margin-bottom: 20px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-set-name .add-video-btn {
  display: inline-block;
  width: 89px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #F2591A;
  border-radius: 3px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2591A;
  text-align: center;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add {
  height: 351px;
  overflow-y: auto;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add .video-none {
  padding-left: 5px;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add .add-video-list {
  display: flex;
  width: 568px;
  height: 56px;
  margin-bottom: 20px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add .add-video-list .add-video-list-info {
  width: 500px;
  height: 40px;
  padding: 7px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add .add-video-list .add-video-list-info img {
  width: 69px;
  height: 40px;
  vertical-align: bottom;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add .add-video-list .add-video-list-info .video-name {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .video-set .video-cont-add .add-video-list .recommend-delete {
  font-size: 24px;
  margin: 16px 15px;
  cursor: pointer;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommend-set .recommend-angle {
  width: 10px;
  height: 10px;
  border-left: 1px solid rgba(255, 145, 77, 0.3);
  border-bottom: 1px solid rgba(255, 145, 77, 0.3);
  position: absolute;
  top: 350px;
  left: -6px;
  transform: rotate(45deg);
  background-color: #fff;
}
.parentMain .containerBox .mainCont .main-right-recommend .recommendSave {
  width: 106px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  background-color: #FF914D;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}
.parentMain .containerBox .mainCont #qrcodeBox {
  display: none;
  position: absolute;
  top: 10px;
  right: 100px;
  width: 240px;
  height: 280px;
  padding: 20px;
  z-index: 3;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
}
.parentMain .containerBox .mainCont #qrcodeBox #qrcode {
  width: 240px;
  height: 240px;
}
.parentMain .containerBox .mainCont #qrcodeBox .scanName {
  width: 240px;
  height: 20px;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #333;
  font-family: Source Han Sans CN;
}
.parentMain .containerBox .mainCont #hintBox {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 14px;
  padding: 10px 16px;
  color: #fff;
  background-color: #2D2D2D;
  opacity: 0.8;
  border-radius: 4px;
}
.parentMain .containerBox .mainCont #hintBox #hintAngle {
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #2D2D2D;
}
/* 添加频道弹窗 */
#channel-dialog {
  display: none;
  width: 908px;
  padding: 20px 46px 0;
}
#channel-dialog .select-search {
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
}
#channel-dialog .select-search .search-channel {
  float: right;
  width: 294px;
  height: 34px;
}
#channel-dialog .select-search .search-channel .search-channel-input {
  width: 244px;
  height: 32px;
  padding: 0 7px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-right: 0;
}
#channel-dialog .select-search .search-channel .search-channel-btn {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #FF914D;
  vertical-align: bottom;
  cursor: pointer;
}
#channel-dialog .select-search .search-channel .search-channel-btn img {
  width: 24px;
  height: 24px;
}
#channel-dialog .cd-content-main {
  height: 530px;
  margin-top: 20px;
}
#channel-dialog .cd-content-main .cd-content-main-top {
  height: 474px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
#channel-dialog .cd-content-main .cd-content-main-top .cd-content-main-list {
  width: 402px;
  height: 96px;
  padding: 20px;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  position: relative;
}
#channel-dialog .cd-content-main .cd-content-main-top .cd-content-main-list img {
  width: 96px;
  height: 96px;
  vertical-align: bottom;
}
#channel-dialog .cd-content-main .cd-content-main-top .cd-content-main-list .cd-content-main-list-name {
  display: inline-block;
  width: 300px;
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#channel-dialog .cd-content-main .cd-content-main-top .cd-content-main-list .channel-right-check {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#channel-dialog .cd-content-main .cd-content-main-top .cd-content-main-list .channel-right-check .cd-content-main-list-check {
  width: 20px;
  height: 20px;
}
#channel-dialog .cd-content-main .cd-content-main-foot {
  text-align: center;
}
/* 添加视频弹窗 */
#video-dialog {
  display: none;
  width: 908px;
  padding: 20px 46px 0;
}
#video-dialog .select-search {
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
}
#video-dialog .select-search .search-video {
  float: right;
  width: 294px;
  height: 34px;
}
#video-dialog .select-search .search-video .search-video-input {
  width: 244px;
  height: 32px;
  padding: 0 7px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-right: 0;
}
#video-dialog .select-search .search-video .search-video-btn {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #FF914D;
  vertical-align: bottom;
  cursor: pointer;
}
#video-dialog .select-search .search-video .search-video-btn img {
  width: 24px;
  height: 24px;
}
#video-dialog .vd-content-main {
  height: 530px;
  margin-top: 20px;
}
#video-dialog .vd-content-main .vd-content-main-top {
  height: 474px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list {
  width: 402px;
  height: 96px;
  padding: 20px;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  position: relative;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-video {
  display: inline-block !important;
  width: 180px;
  height: 96px;
  vertical-align: top;
  pointer-events: auto !important;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-content-main-list-info {
  display: inline-block;
  width: 202px;
  height: 96px;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-content-main-list-info span {
  display: inline-block;
  width: 200px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-content-main-list-info .vd-content-main-list-name {
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-content-main-list-info .vd-content-main-list-time {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-content-main-list-info .vd-content-main-list-num {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  vertical-align: top;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .vd-content-main-list-info i {
  font-style: normal;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .video-right-check {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-list .video-right-check .vd-content-main-list-check {
  width: 20px;
  height: 20px;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-none {
  width: 142px;
  height: 147px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-none img {
  width: 142px;
  height: 107px;
}
#video-dialog .vd-content-main .vd-content-main-top .vd-content-main-none p {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #CCCCCC;
}
#video-dialog .vd-content-main .vd-content-main-top .mediaUpload {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 50px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
#video-dialog .vd-content-main .vd-content-main-top .mediaUpload a {
  color: #F2591A;
}
#video-dialog .vd-content-main .vd-content-main-foot {
  text-align: center;
}
