@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px!important;
  }
}
* {
  margin: 0;
}
body {
  width: 750rem/75 !important;
  min-width: 320px;
  margin: 0 auto;
}
body #container {
  width: 750rem/75 !important;
  height: 100vh;
  background: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
body #container #codeInput {
  width: 750rem/75 !important;
  height: 72rem/75 !important;
  position: absolute;
  top: 40%;
  text-align: center;
  display: none;
}
body #container #codeInput input {
  width: 96rem/75 !important;
  height: 68rem/75 !important;
  background-color: transparent;
  border: none;
  border-bottom: 2rem/75 solid #FF914C;
  color: #FF914C;
  text-align: center;
  outline: none;
}
body #container #submit {
  width: 188rem/75 !important;
  height: 60rem/75 !important;
  line-height: 60rem/75 !important;
  background: #FF914C;
  border-radius: 10rem/75 !important;
  font-size: 36rem/75 !important;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: transparent;
}
